<section >
    
  <div class="container">

 

    <footer class="py-3 my-4">
      
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/"  class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a routerLink="/choices"class="nav-link px-2 text-body-secondary">Ordering Options</a></li>
        <li class="nav-item"><a routerLink="/gallery" class="nav-link px-2 text-body-secondary">Gallery</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link px-2 text-body-secondary">Get in Touch</a></li>
        <li class="nav-item"><a routerLink="/notices"class="nav-link px-2 text-body-secondary">Notices</a></li>
        
      </ul>

      <div class="col text-center pt-2 pb-2">
        <a href="https://www.facebook.com" target="_blank" class="social-icon"><img src="../../assets/facebook.png" width="50px" alt="Facebook"  style="padding: 7px;"></a>
        <a href="https://www.instagram.com" target="_blank" class="social-icon"><img src="../../assets/instagram.png" width="50px" alt="Instagram"  style="padding: 7px;"></a>
        <a href="https://www.tiktok.com" target="_blank" class="social-icon"><img src="../../assets/tiktok.png" width="50px" alt="TikTok"  style="padding: 7px;"></a>
      </div>
      <p class="text-center text-body-secondary">&copy; 2023 A Lil' Baklava.  All Rights Reserved</p>
    </footer>
  </div>
</section>