<section class="py-5 text-start testimonial-background">
    <div class="container">
      <div class="row">
        <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel">
  
          <h1 class="fw-light text-start pt-4 pb-4">A Lil' Word From Our Customers</h1>
  
       
  
          <!-- Testimonial Slides -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card">
                <div class="card-body text-center">
                  <blockquote class="blockquote mb-0">
                    <p>"I don't know what her secret is, but by far this is the best baklava I have ever tasted!"</p>
                    <footer class="blockquote-footer p-4">Samantha Haris</footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <div class="card-body text-center">
                  <blockquote class="blockquote mb-0">
                    <p>"Aysha's baklava is indescribably great. It truly is the best Baklava I have tried."</p>
                    <footer class="blockquote-footer p-4">Dave Ryder</footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <div class="card-body text-center">
                  <blockquote class="blockquote mb-0">
                    <p>"Most places use walnuts, but Aysha's choice of using pistachios is what I think sets hers apart."</p>
                    <footer class="blockquote-footer p-4">Michael Johnson</footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Navigation Arrows -->
          <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  
