<section class="py-1 text-center container ">
 

    <div class="album py-1 bg-body-tertiary ">
        <div class="container imageCol-background">
            <h1 class="fw-light text-start pt-4 ">Indulge in the Irresistible Delights of Baklava</h1>
            <p class="lead text-body-secondary text-start pb-4">Prepare to embark on a captivating journey of flavor and discover why A Lil' Baklava's baklava is destined to become your ultimate favorite.  Don't 
                miss out on this irresistible experience - savor the essence of true indulgence today!
            </p>
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <!-- <svg class="bd-placeholder-img card-img-top card-img-bottom" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <img src="../../assets/baklava1.jpeg" class="bd-placeholder-img card-img-top card-img-bottom" alt="Placeholder Image">

              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <!-- <svg class="bd-placeholder-img card-img-top card-img-bottom" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <img src="../../assets/baklava2.jpeg" class="bd-placeholder-img card-img-top card-img-bottom" alt="Placeholder Image">
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <!-- <svg class="bd-placeholder-img card-img-top img-bottom" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <img src="../../assets/baklava3.jpeg" class="bd-placeholder-img card-img-top card-img-bottom" alt="Placeholder Image">
              </div>
            </div>
            
          </div>
        </div>
      </div>
  </section>


  

