<!-- <section class="py-1 text-start container pt-5 author">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>About the Author</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in lacus non justo aliquet vestibulum. Ut tempus orci elit, id scelerisque nisl congue eu. Aliquam maximus risus eu lorem commodo, id laoreet sem pharetra.</p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/aysha.jpg" alt="Author" class="img-fluid custom-width">
        </div>
      </div>
    </div>
    </section> -->

    <section class="py-5 text-start author">
        <div class="container">
          <div class="row">
            <div class="col-md-6 custom-align">
              <h1 class="fw-light">Meet The Baker - <span class="aysha">Aysha Afaneh</span></h1>
             
              <p class="pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in lacus non justo aliquet vestibulum. Ut tempus orci elit, id scelerisque nisl congue eu. Aliquam maximus risus eu lorem commodo, id laoreet sem pharetra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in lacus non justo aliquet vestibulum. Ut tempus orci elit, id scelerisque niLorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in lacus non justo aliquet vestibulum. Ut tempus orci elit, id scelerisque ni</p>
            </div>
            <div class="col-md-6 text-end">
              <img src="../../assets/aysha.jpg" alt="Author" class="img-fluid custom-width">
            </div>
          </div>
        </div>
      </section>
