.author {
    
    background-color: #e6dec6;
    min-width: 100%;
   
}
.custom-width {
    width: 60%;
    margin-right: 5rem;
    border-radius: 10%;
  }

  .custom-align{
    padding-left: 4rem;
  
  }
  .aysha {
    font-size: 1.5rem;
  }