

    <section class="py-5 text-start author">
        <div class="container">
          <div class="row">
            <div class="col-md-6 custom-align">
              <h1 class="fw-light">Meet The Pastry Chef - <span class="aysha">Aysha Afaneh</span></h1>
             
              <h5 class="pt-4 fw-light">Aysha, a trained nurse with a deep passion for baking exquisite Baklava, has successfully merged her two worlds. She takes great pleasure in meticulously layering the delectable ingredients to create irresistible Baklava desserts. After receiving consistent encouragement from friends and colleagues who recognized the extraordinary quality of her baklava treats, Aysha made the bold decision to transform her hobby into a full-fledged business venture. Thus, she established "A Lil' Baklava," a venture aimed at meeting the high demand for her sought-after delicacies.</h5>
            </div>
            <div class="col-md-6 text-end">
              <img src="../../assets/aysha.jpg" alt="Author" class="img-fluid custom-width">
            </div>
          </div>
        </div>
      </section>
