<section class="py-1 text-center container pt-5">
<div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="fw-light">A Lil' Baklava</h2>
        <p>We value your feedback and are eager to assist you. Whether you wish to place an order or have any other inquiries, please don't hesitate to contact us. </p>
        <p class="pb-4">Email: <a href="mailto:info@example.com">info@example.com</a></p>
        <img src="../../assets/half-box.jpg" style="width: 100%;  border-radius: 7%; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);" >
 
      </div>
      <div class="col-md-7">
        <!-- <img src="path/to/image.jpg" alt="Image" class="img-fluid"> -->
        <video src="../../assets/Baklava-Steps2.mp4" controls autoplay class="video-fluid" style="width: 50%; border-radius: 30px;"></video>
        
      </div>
    </div>
  </div>
  </section>