
<section class="py-5 text-center">
<div class="container">

    <h1 class="fw-light text-center pt-4 pb-4">Indulge in the Bliss of Baklava</h1>

    <div class="row">
     
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image4.jpeg" alt="Image 2" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image5.jpeg" alt="Image 1" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image9.jpeg" alt="Image 1" class="img-fluid hover">
      </div>
     
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image3.jpeg" alt="Image 1" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image8.jpeg" alt="Image 2" class="img-fluid hover">
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image10.jpeg" alt="Image 2" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image11.jpeg" alt="Image 1" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image12.jpeg" alt="Image 2" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/baklava1.jpeg" alt="Image 2" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/baklava2.jpeg" alt="Image 2" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/baklava3.jpeg" alt="Image 2" class="img-fluid hover">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="../../assets/image6.jpeg" alt="Image 2" class="img-fluid hover">
      </div>
      <!-- Add more image items here -->
    </div>
  </div>
</section>