
<nav class="navbar navbar-expand-lg navBack" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <a class="navbar-brand col-lg-3 me-0" href="#"><img src="../../assets/logo.png" width="40%" style="padding-left: .50rem;"></a>
        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/choices" class="nav-link">Ordering Options</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ordering" class="nav-link">Place Order</a>
          </li>
          <li class="nav-item">
            <a routerLink="/gallery" class="nav-link">Gallery</a>
          </li>
          
          
        </ul>
        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button routerLink="/login" class="btn btn-warning">Login</button>&nbsp; &nbsp;
          <button routerLink="/register" class="btn btn-gray">Register</button>
        </div>
        
      </div>
    </div>
  </nav>


  
