<section class="py-1 text-center container pb-5 pt-5">
 

    <div class="album  bg-body-tertiary ">
        <div class="container imageCol-background">
            <h1 class="fw-light text-center pt-4 pb-2 ">Notices</h1>
            <p class="lead text-body-secondary text-start pb-4"><strong><ins>Important Notice: Food Allergen Information</ins></strong> <br>

                We kindly inform you that our food preparations may include ingredients containing NUTS and other DAIRY products. To ensure your safety and satisfaction, we kindly request that you inform us of any known allergies or intolerances prior to placing your order. It is important to note that we cannot be held responsible for any undisclosed or unrecognized 
                allergies that may arise. Your health and well-being are of utmost importance to us, and we appreciate your cooperation in helping us provide a safe dining experience for everyone. <strong style="color: orange; font-weight: 600;"><i>Thank you</i></strong>
            </p>
       
    
           
            <p class="lead text-body-secondary text-start pb-4"><strong><ins>Order/Pick Up Notices</ins></strong><br>

                Currently we provide a limited number of orders per week. We kindly request that you plan ahead and place your orders in advance to secure your desired delivery slot. 
                Please note that, at present, we are exclusively offering pick-up services and do not provide delivery options.  <strong style="color: orange; font-weight: 600;"><i>Thank you</i></strong>
            </p>
          
        </div>
      </div>
  </section>