
  <section class="pt-4 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">Ordering Options</h1>
        <p class="lead text-left text-body-primary">Discover our delightful array of ordering options that cater to your preferences. Choose the perfect size that suits your cravings 
            and savor the delectable delights that await you. Place your order today and embark on a journey of tantalizing flavors and irresistible satisfaction.</p> 
      </div>
    </div>
  </section>

  <div class="album bg-body-tertiary pt-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col pb-5">
          <div class="card shadow-sm">
            <img src="../../assets/lil-box.jpg" class="bd-placeholder-img card-img-top" width="100%" height="auto" alt="Placeholder: Thumbnail" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">
                <h2 class="fw-light">The Lil' Box</h2>
              <p class="card-text">Introducing The Lil' Box, a delightful selection of 10 meticulously crafted pieces of baklava. Elevate your gift-giving experience by personalizing your order with options such as,
                 happy birthday, graduation, or congratulatory messages.<br><br> Delight your loved ones with this exquisite treat, beautifully presented
                 and tailored to celebrate special occasions. Make your order today and indulge in the perfect combination of taste and thoughtful gifting.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button> -->
            
                </div>
                <h4 class="fw-bold" style="color: orange;">$25.00</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col pb-5">
          <div class="card shadow-sm">
            <img src="../../assets/half-box.jpg" class="bd-placeholder-img card-img-top" width="100%" height="auto" alt="Placeholder: Thumbnail" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">
                <h2 class="fw-light">The Half Box</h2>
              <p class="card-text">Introducing The Half Box, a delectable assortment of 20 meticulously crafted pieces of baklava. This generously sized box offers an abundance of delightful treats that can be savored and shared by the entire family.<br><br> Elevate your gift-giving experience by personalizing your order with options such as,happy birthday, graduation, or congratulatory messages. Delight your loved ones with this exquisite treat, beautifully presented and tailored to celebrate special occasions. Make your order today and indulge in the perfect combination of taste and thoughtful gifting.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button> -->
                  
                </div>
                <h4 class="fw-bold" style="color: orange;">$45.00</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col pb-5">
          <div class="card shadow-sm">
            <img src="../../assets/full-box.jpg" class="bd-placeholder-img card-img-top" width="100%" height="auto" alt="Placeholder: Thumbnail" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">
                <h2 class="fw-light">The Full Box</h2>
              <p class="card-text">Introducing the Full Box, an impressive collection of 40 meticulously crafted pieces of baklava. Designed to cater to larger gatherings and events, this size is perfect for accommodating all attendees of your event. Experience the ultimate indulgence and ensure that every guest in the room can savor the tantalizing flavor of our baklava. Elevate your event with the Full Box and create a memorable experience for your attendees. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button> -->
                 
                </div>
                <h4 class="fw-bold" style="color: orange;">$80.00</h4>
              </div>
            </div>
          </div>
        </div>
       
       
      </div>
    </div>
    <app-order-form></app-order-form>
  </div>

